{% extends 'master.html' %}

{% block header %}

    <div class="row mt-5">
        <div class="col-12">
            <h4 class="heading text-center">
                {{ category.name }}
            </h4>
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="row">
        {% for fs in feeds_sources %}

            {% if fs.articles.count > 0 %}

                {% include 'feeds/partials/articles-block.html' with articles=fs.get_articles %}

            {% endif %}

        {% empty %}

            <div class="col-12">
                <h4 class="text-muted text-center my-5">
                    Il n'y a aucun article dans cette catégorie pour l'instant.
                </h4>
            </div>

        {% endfor %}
    </div>

{% endblock %}