<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a href="#" class="navbar-brand text-light text-uppercase text-teal font-weight-bolder">
        The Reader
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav ml-auto">
            <li class="nav-item {% if request.path == '/' %} active {% endif %}">
                <a href="{% url 'index' %}" class="nav-link">
                    Accueil
                </a>
            </li>

            {% for category in categories %}
                <li class="nav-item {% if category.slug in request.path %} active {% endif %}">
                    <a href="{% url 'feeds:category_detail' slug=category.slug %}" class="nav-link">
                        {{ category.name }}
                    </a>
                </li>
            {% endfor %}

        </ul>

    </div>

</nav>