$backgroundColor: rgb(255, 255, 255);
$blue: #007BFF;
$indigo: #6610F2;
$purple: #FD7E14;
$pink: #E83E8C;
$red: #28A745;
$orange: #FD7E14;
$orange-dark: #EA2F10;
$yellow: #17A2B8;
$green: #FFFFFF;
$teal: #20C997;
$cyan: #17A2B8;
$dark: #343A40;


body {
  background-color: $backgroundColor;
}

.text-indigo {
  color: $indigo !important;
}

.text-teal {
  color: $teal !important;
}

/********* TYPOGRAPHY *********/
.heading {
  font-size: 1.6rem;
  font-weight: 400;
}

.link-unstyled {
  &:link {
    color: #212529;
  }
  &:visited {
    color: initial;
  }
}

/********* INFO SECTION *********/
.box-section {
  overflow: hidden;

  &__source-title {
    color: darken($orange-dark, 0);
    font-size: 1.3rem;
    font-weight: 600;
  }

  &__source-link {
    color: $blue;
    font-size: .8rem;
  }

  &__link {
    color: rgba(33,37,41, .9) !important;
    font-weight: 400;
    font-size: .95rem;
  }
}

/********* POPOVER *********/
//.popover {
//  background-color: rgb(51,51,51);
//}
.popover-header {
  background-color: rgb(51,51,51);
  color: rgb(250,250,250);
}
//
//.popover-body {
//  //background-color: rgb(51,51,51);
//  color: rgba(255,255,255, .7)
//}
//
//.bs-popover-auto[x-placement^="right"] > .arrow::after, .bs-popover-right > .arrow::after {
//    left: 1px;
//    //border-width: .5rem .5rem .5rem 0;
//    border-right-color: rgb(51,51,51);
//}
//.bs-popover-auto[x-placement^="left"] > .arrow::after, .bs-popover-left > .arrow::after {
//    right: 1px;
//    //border-width: .5rem .5rem .5rem 0;
//    border-left-color: rgb(51,51,51);
//}
//.bs-popover-auto[x-placement^="top"] > .arrow::after, .bs-popover-top > .arrow::after {
//    bottom: 1px;
//    //border-width: .5rem .5rem .5rem 0;
//    border-top-color: rgb(51,51,51);
//}
//.bs-popover-auto[x-placement^="bottom"] > .arrow::after, .bs-popover-bottom > .arrow::after {
//    top: 1px;
//    border-width: .5rem .5rem .5rem 0;
//    border-bottom-color: rgb(51,51,51);
//}