body { background-color: white; }

.text-indigo { color: #6610F2 !important; }

.text-teal { color: #20C997 !important; }

/********* TYPOGRAPHY *********/
.heading { font-size: 1.6rem; font-weight: 400; }

.link-unstyled:link { color: #212529; }

.link-unstyled:visited { color: initial; }

/********* INFO SECTION *********/
.box-section { overflow: hidden; }

.box-section__source-title { color: #ea2f10; font-size: 1.3rem; font-weight: 600; }

.box-section__source-link { color: #007BFF; font-size: .8rem; }

.box-section__link { color: rgba(33, 37, 41, 0.9) !important; font-weight: 400; font-size: .95rem; }

/********* POPOVER *********/
.popover-header { background-color: #333333; color: #fafafa; }

/*# sourceMappingURL=app.css.map */