{% extends 'master.html' %}
{% load strip_img_tag %}


{% block header %}
    <div class="row mt-5">
        <div class="col-12">
            <h4 class="heading">
                Derniers articles sur The Reader
            </h4>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="row">
        {% for fs in feed_sources %}

            {% if fs.articles.count > 0 %}

                {% include 'feeds/partials/articles-block.html' with articles=fs.get_articles %}

            {% endif %}

        {% endfor %}
    </div>
{% endblock %}