<!doctype html>
{% load staticfiles %}
{% load bootstrap4 %}
{% load sass_tags %}
<html lang="fr">
<head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% bootstrap_css %}
        {#    {% bootstrap_javascript jquery='slim' %}#}
        <link rel="stylesheet" href="{% sass_src 'css/app.scss' %}">
        <title>The Reader - {{ title | default:'Accueil' }}</title>
</head>
<body>

    <div class="container-fluid px-0">
        {% include 'partials/navbar.html' %}
    </div>

    <div class="container">
        {% block header %}

        {% endblock %}
        {% block content %}

        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>