{% load strip_img_tag %}

<div class="box-section mb-4 col-12 col-md-4">
    <p class="mb-1 box-section__source-title">
        {{ fs.name }}
        <small class="box-section__source-link">
            (<a target="_blank" href="{{ fs.url }}">{{ fs.url }}</a>)
        </small>
    </p>
    <div>
        {% for article in articles %}
            <p class="box-section__article text-truncate mb-0 py-1 overflow-hidden"
               id="{{ article.pk }}">
                <a target="_blank" data-toggle="popover" class="link-unstyled box-section__link"
                   title="{{ article.title | escape | safe }}"
                   data-content="{{ article.text | truncatewords_html:50 | strip_img }}"
                   href="{{ article.link }}">
                     <span class="badge badge-primary pr-1">
                        {{ article.published_at | date:'d-m' }}
                     </span>
                    {{ article.title | safe | truncatewords:9 }}
                </a>
            </p>
        {% endfor %}
    </div>
</div>